<li>
	{{name}}
	<p>
		<span>
			{{this.id}}. {{this.burger_name}} {{#unless devoured}}
			<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
				Devoured!
			</button>
			{{else}}
			<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
			{{/unless}}
		</span>
	</p>
</li>